<a href="https://colab.research.google.com/github/Jenn-mawia/Elections_usa_states/blob/master/Elections_Independent_Project_2020_07_Jenipher_Mawia_SQL_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Connecting to our database

In [ ]:
# first load the sql extension into my working environment
%load_ext sql

# connect to my memory sqlite database
%sql sqlite://

'Connected: @None'

# Importing data

In [ ]:
import pandas as pd

# Loading datasets

Download and upload the csv file from [Population](https://drive.google.com/file/d/1VKt_hF2pRqPxcNb1DKotkVXWNd2HX_KL/view) and [GrandElectors](https://drive.google.com/file/d/1AuPlNXKjmEdRTLGqKbP-OP1XZ5UQPIPw/view) to google Colab environment by clicking View > Table of Contents > Files then Upload.

In [ ]:
# load GrandElectors dataset and read with pandas library
# 
with open('GrandElectors_by_state.csv','r') as f:
    GrandElectors = pd.read_csv(f, index_col=0, encoding='utf-8')
# drop existing table similar to GrandElectors in the environment
%sql DROP TABLE if EXISTS GrandElectors;
# push GrandElectors data into table within current sqlite database
%sql PERSIST GrandElectors;
# preview
%sql SELECT * FROM GrandElectors LIMIT 5;

 * sqlite://
Done.
 * sqlite://
 * sqlite://
Done.

[('Alabama', 9),
 ('Alaska', 3),
 ('Arizona', 11),
 ('Arkansas', 6),
 ('California', 55)]

In [ ]:
# load Population dataset and read with the pandas library
# 
with open('Population_by_state.csv','r') as f:
    Population = pd.read_csv(f, index_col=0, encoding='utf-8')
# drop existing table similar to Population in the environment
%sql DROP TABLE if EXISTS Population;
# push Population data into table within current sqlite database
%sql PERSIST Population;
# preview
%sql SELECT * FROM Population LIMIT 5;

 * sqlite://
Done.
 * sqlite://
 * sqlite://
Done.

[('CALIFORNIA', 39144818),
 ('TEXAS', 27469114),
 ('FLORIDA', 20271272),
 ('NEW YORK', 19795791),
 ('ILLINOIS', 12859995)]

# Make all state values in the GrandElectors table uppercase

In [ ]:
# changes values of the State field uppercase
%%sql
UPDATE GrandElectors 
SET State = UPPER(State);
SELECT * FROM GrandElectors LIMIT 5;

 * sqlite://
51 rows affected.
Done.

[('ALABAMA', 9),
 ('ALASKA', 3),
 ('ARIZONA', 11),
 ('ARKANSAS', 6),
 ('CALIFORNIA', 55)]

# Change name of "District of Columbia" to DC

In [ ]:
# updates the value of the State "District of Columbia" to DC in the Population table
# preview to see changes
%%sql
UPDATE Population
SET State = "DC"
WHERE State = "DISTRICT OF COLUMBIA";
SELECT * FROM Population;

 * sqlite://
1 rows affected.
Done.

[('CALIFORNIA', 39144818),
 ('TEXAS', 27469114),
 ('FLORIDA', 20271272),
 ('NEW YORK', 19795791),
 ('ILLINOIS', 12859995),
 ('PENNSYLVANIA', 12802503),
 ('OHIO', 11613423),
 ('GEORGIA', 10214860),
 ('NORTH CAROLINA', 10042802),
 ('MICHIGAN', 9922576),
 ('NEW JERSEY', 8958013),
 ('VIRGINIA', 8382993),
 ('WASHINGTON', 7170351),
 ('ARIZONA', 6828065),
 ('MASSACHUSETTS', 6794422),
 ('INDIANA', 6619680),
 ('TENNESSEE', 6600299),
 ('MISSOURI', 6083672),
 ('MARYLAND', 6006401),
 ('WISCONSIN', 5771337),
 ('MINNESOTA', 5489594),
 ('COLORADO', 5456574),
 ('SOUTH CAROLINA', 4896146),
 ('ALABAMA', 4858979),
 ('LOUISIANA', 4670724),
 ('KENTUCKY', 4425092),
 ('OREGON', 4028977),
 ('OKLAHOMA', 3911338),
 ('CONNECTICUT', 3590886),
 ('PUERTO RICO', 3474182),
 ('IOWA', 3123899),
 ('UTAH', 2995919),
 ('MISSISSIPPI', 2992333),
 ('ARKANSAS', 2978204),
 ('KANSAS', 2911641),
 ('NEVADA', 2890845),
 ('NEW MEXICO', 2085109),
 ('NEBRASKA', 1896190),
 ('WEST VIRGINIA', 1844128),
 ('IDAHO', 1654930),
 ('HAWAII', 1431603),
 ('NEW HAMPSHIRE', 1330608),
 ('MAINE', 1329328),
 ('RHODE ISLAND', 1056298),
 ('MONTANA', 1032949),
 ('DELAWARE', 945934),
 ('SOUTH DAKOTA', 858469),
 ('NORTH DAKOTA', 756927),
 ('ALASKA', 738432),
 ('DC', 672228),
 ('VERMONT', 626042),
 ('WYOMING', 586107),
 ('GUAM', 161785),
 ('U.S. VIRGIN ISLANDS', 103574),
 ('AMERICAN SAMOA', 54343),
 ('NORTHERN MARIANA ISLANDS', 52344)]

In [ ]:
# updates the value of the State "District of Columbia" to DC in the GrandElectors table
# preview to see changes

%%sql
UPDATE GrandElectors
SET State = "DC"
WHERE State = "DISTRICT OF COLUMBIA";
SELECT * FROM GrandElectors;

 * sqlite://
1 rows affected.
Done.

[('ALABAMA', 9),
 ('ALASKA', 3),
 ('ARIZONA', 11),
 ('ARKANSAS', 6),
 ('CALIFORNIA', 55),
 ('COLORADO', 9),
 ('CONNECTICUT', 7),
 ('DC', 3),
 ('DELAWARE', 3),
 ('FLORIDA', 29),
 ('GEORGIA', 16),
 ('HAWAII', 4),
 ('IDAHO', 4),
 ('ILLINOIS', 20),
 ('INDIANA', 11),
 ('IOWA', 6),
 ('KANSAS', 6),
 ('KENTUCKY', 8),
 ('LOUISIANA', 8),
 ('MAINE', 4),
 ('MARYLAND', 10),
 ('MASSACHUSETTS', 11),
 ('MICHIGAN', 16),
 ('MINNESOTA', 10),
 ('MISSISSIPPI', 6),
 ('MISSOURI', 10),
 ('MONTANA', 3),
 ('NEBRASKA', 5),
 ('NEVADA', 6),
 ('NEW HAMPSHIRE', 4),
 ('NEW JERSEY', 14),
 ('NEW MEXICO', 5),
 ('NEW YORK', 29),
 ('NORTH CAROLINA', 15),
 ('NORTH DAKOTA', 3),
 ('OHIO', 18),
 ('OKLAHOMA', 7),
 ('OREGON', 7),
 ('PENNSYLVANIA', 20),
 ('RHODE ISLAND', 4),
 ('SOUTH CAROLINA', 9),
 ('SOUTH DAKOTA', 3),
 ('TENNESSEE', 11),
 ('TEXAS', 38),
 ('UTAH', 6),
 ('VERMONT', 3),
 ('VIRGINIA', 13),
 ('WASHINGTON', 12),
 ('WEST VIRGINIA', 5),
 ('WISCONSIN', 10),
 ('WYOMING', 3)]

# Ratio between the number of grand electors and the population

In [ ]:
# computes the ratio of number of grand electors and population, 
# then casts the new ratio value onto a new column
# performs the inner join on the two tables population and grandelectors
%%sql
SELECT GrandElectors.State, GrandElectors, Population, (CAST([GrandElectors] AS FLOAT) / [Population]) AS Ratio
FROM GrandElectors INNER JOIN Population
ON GrandElectors.State = Population.State;

 * sqlite://
Done.

[('ALABAMA', 9, 4858979, 1.8522409749043987e-06),
 ('ALASKA', 3, 738432, 4.0626625065002604e-06),
 ('ARIZONA', 11, 6828065, 1.610998137832607e-06),
 ('ARKANSAS', 6, 2978204, 2.0146370094190997e-06),
 ('CALIFORNIA', 55, 39144818, 1.4050391037710278e-06),
 ('COLORADO', 9, 5456574, 1.6493865931260165e-06),
 ('CONNECTICUT', 7, 3590886, 1.949379623858847e-06),
 ('DC', 3, 672228, 4.462771559649405e-06),
 ('DELAWARE', 3, 945934, 3.1714686225466047e-06),
 ('FLORIDA', 29, 20271272, 1.4305959685213637e-06),
 ('GEORGIA', 16, 10214860, 1.566345500574653e-06),
 ('HAWAII', 4, 1431603, 2.794070702562093e-06),
 ('IDAHO', 4, 1654930, 2.417020659484087e-06),
 ('ILLINOIS', 20, 12859995, 1.5552105580134362e-06),
 ('INDIANA', 11, 6619680, 1.6617117443743504e-06),
 ('IOWA', 6, 3123899, 1.9206766928124116e-06),
 ('KANSAS', 6, 2911641, 2.0606936088618066e-06),
 ('KENTUCKY', 8, 4425092, 1.8078720171241637e-06),
 ('LOUISIANA', 8, 4670724, 1.712796560019389e-06),
 ('MAINE', 4, 1329328, 3.009039153617467e-06),
 ('MARYLAND', 10, 6006401, 1.6648905059785385e-06),
 ('MASSACHUSETTS', 11, 6794422, 1.6189750945702225e-06),
 ('MICHIGAN', 16, 9922576, 1.6124844999927438e-06),
 ('MINNESOTA', 10, 5489594, 1.8216283389992047e-06),
 ('MISSISSIPPI', 6, 2992333, 2.00512442966742e-06),
 ('MISSOURI', 10, 6083672, 1.6437441071773757e-06),
 ('MONTANA', 3, 1032949, 2.904306020916812e-06),
 ('NEBRASKA', 5, 1896190, 2.636866558730929e-06),
 ('NEVADA', 6, 2890845, 2.0755177119492743e-06),
 ('NEW HAMPSHIRE', 4, 1330608, 3.0061445594795764e-06),
 ('NEW JERSEY', 14, 8958013, 1.562846582160575e-06),
 ('NEW MEXICO', 5, 2085109, 2.3979561739937817e-06),
 ('NEW YORK', 29, 19795791, 1.4649578791774474e-06),
 ('NORTH CAROLINA', 15, 10042802, 1.4936070630487388e-06),
 ('NORTH DAKOTA', 3, 756927, 3.963394092164766e-06),
 ('OHIO', 18, 11613423, 1.5499306276883225e-06),
 ('OKLAHOMA', 7, 3911338, 1.7896689061390246e-06),
 ('OREGON', 7, 4028977, 1.7374137405103083e-06),
 ('PENNSYLVANIA', 20, 12802503, 1.562194517743913e-06),
 ('RHODE ISLAND', 4, 1056298, 3.7868101615263876e-06),
 ('SOUTH CAROLINA', 9, 4896146, 1.8381804790951905e-06),
 ('SOUTH DAKOTA', 3, 858469, 3.4945932817609025e-06),
 ('TENNESSEE', 11, 6600299, 1.6665911650366142e-06),
 ('TEXAS', 38, 27469114, 1.3833718845099992e-06),
 ('UTAH', 6, 2995919, 2.0027243727216926e-06),
 ('VERMONT', 3, 626042, 4.792010759661493e-06),
 ('VIRGINIA', 13, 8382993, 1.5507587803067473e-06),
 ('WASHINGTON', 12, 7170351, 1.673558240035948e-06),
 ('WEST VIRGINIA', 5, 1844128, 2.7113085425740512e-06),
 ('WISCONSIN', 10, 5771337, 1.7327007589402595e-06),
 ('WYOMING', 3, 586107, 5.118519314732634e-06)]

# Order the states by decreasing ratio of Grand Electors per capita. (That will make our priority list.)

In [ ]:
# sorts our list in descending order of the calculated ratio(grand electors per capita)
# performs inner join of the two tables: population and grandelectors
%%sql
SELECT GrandElectors.State, GrandElectors, Population, (CAST([GrandElectors] AS FLOAT) / [Population]) AS Ratio
FROM GrandElectors INNER JOIN Population
ON GrandElectors.State = Population.State
ORDER BY Ratio DESC;

 * sqlite://
Done.

[('WYOMING', 3, 586107, 5.118519314732634e-06),
 ('VERMONT', 3, 626042, 4.792010759661493e-06),
 ('DC', 3, 672228, 4.462771559649405e-06),
 ('ALASKA', 3, 738432, 4.0626625065002604e-06),
 ('NORTH DAKOTA', 3, 756927, 3.963394092164766e-06),
 ('RHODE ISLAND', 4, 1056298, 3.7868101615263876e-06),
 ('SOUTH DAKOTA', 3, 858469, 3.4945932817609025e-06),
 ('DELAWARE', 3, 945934, 3.1714686225466047e-06),
 ('MAINE', 4, 1329328, 3.009039153617467e-06),
 ('NEW HAMPSHIRE', 4, 1330608, 3.0061445594795764e-06),
 ('MONTANA', 3, 1032949, 2.904306020916812e-06),
 ('HAWAII', 4, 1431603, 2.794070702562093e-06),
 ('WEST VIRGINIA', 5, 1844128, 2.7113085425740512e-06),
 ('NEBRASKA', 5, 1896190, 2.636866558730929e-06),
 ('IDAHO', 4, 1654930, 2.417020659484087e-06),
 ('NEW MEXICO', 5, 2085109, 2.3979561739937817e-06),
 ('NEVADA', 6, 2890845, 2.0755177119492743e-06),
 ('KANSAS', 6, 2911641, 2.0606936088618066e-06),
 ('ARKANSAS', 6, 2978204, 2.0146370094190997e-06),
 ('MISSISSIPPI', 6, 2992333, 2.00512442966742e-06),
 ('UTAH', 6, 2995919, 2.0027243727216926e-06),
 ('CONNECTICUT', 7, 3590886, 1.949379623858847e-06),
 ('IOWA', 6, 3123899, 1.9206766928124116e-06),
 ('ALABAMA', 9, 4858979, 1.8522409749043987e-06),
 ('SOUTH CAROLINA', 9, 4896146, 1.8381804790951905e-06),
 ('MINNESOTA', 10, 5489594, 1.8216283389992047e-06),
 ('KENTUCKY', 8, 4425092, 1.8078720171241637e-06),
 ('OKLAHOMA', 7, 3911338, 1.7896689061390246e-06),
 ('OREGON', 7, 4028977, 1.7374137405103083e-06),
 ('WISCONSIN', 10, 5771337, 1.7327007589402595e-06),
 ('LOUISIANA', 8, 4670724, 1.712796560019389e-06),
 ('WASHINGTON', 12, 7170351, 1.673558240035948e-06),
 ('TENNESSEE', 11, 6600299, 1.6665911650366142e-06),
 ('MARYLAND', 10, 6006401, 1.6648905059785385e-06),
 ('INDIANA', 11, 6619680, 1.6617117443743504e-06),
 ('COLORADO', 9, 5456574, 1.6493865931260165e-06),
 ('MISSOURI', 10, 6083672, 1.6437441071773757e-06),
 ('MASSACHUSETTS', 11, 6794422, 1.6189750945702225e-06),
 ('MICHIGAN', 16, 9922576, 1.6124844999927438e-06),
 ('ARIZONA', 11, 6828065, 1.610998137832607e-06),
 ('GEORGIA', 16, 10214860, 1.566345500574653e-06),
 ('NEW JERSEY', 14, 8958013, 1.562846582160575e-06),
 ('PENNSYLVANIA', 20, 12802503, 1.562194517743913e-06),
 ('ILLINOIS', 20, 12859995, 1.5552105580134362e-06),
 ('VIRGINIA', 13, 8382993, 1.5507587803067473e-06),
 ('OHIO', 18, 11613423, 1.5499306276883225e-06),
 ('NORTH CAROLINA', 15, 10042802, 1.4936070630487388e-06),
 ('NEW YORK', 29, 19795791, 1.4649578791774474e-06),
 ('FLORIDA', 29, 20271272, 1.4305959685213637e-06),
 ('CALIFORNIA', 55, 39144818, 1.4050391037710278e-06),
 ('TEXAS', 38, 27469114, 1.3833718845099992e-06)]

# Compute the running total of Grand Electors

In [ ]:
%%sql
SELECT G.State, G.GrandElectors, Sum(E.GrandElectors)
FROM GrandElectors AS G
INNER JOIN GrandElectors AS E
ON G.State >= E.State
GROUP BY G.State;

 * sqlite://
Done.

[('ALABAMA', 9, 9),
 ('ALASKA', 3, 12),
 ('ARIZONA', 11, 23),
 ('ARKANSAS', 6, 29),
 ('CALIFORNIA', 55, 84),
 ('COLORADO', 9, 93),
 ('CONNECTICUT', 7, 100),
 ('DC', 3, 103),
 ('DELAWARE', 3, 106),
 ('FLORIDA', 29, 135),
 ('GEORGIA', 16, 151),
 ('HAWAII', 4, 155),
 ('IDAHO', 4, 159),
 ('ILLINOIS', 20, 179),
 ('INDIANA', 11, 190),
 ('IOWA', 6, 196),
 ('KANSAS', 6, 202),
 ('KENTUCKY', 8, 210),
 ('LOUISIANA', 8, 218),
 ('MAINE', 4, 222),
 ('MARYLAND', 10, 232),
 ('MASSACHUSETTS', 11, 243),
 ('MICHIGAN', 16, 259),
 ('MINNESOTA', 10, 269),
 ('MISSISSIPPI', 6, 275),
 ('MISSOURI', 10, 285),
 ('MONTANA', 3, 288),
 ('NEBRASKA', 5, 293),
 ('NEVADA', 6, 299),
 ('NEW HAMPSHIRE', 4, 303),
 ('NEW JERSEY', 14, 317),
 ('NEW MEXICO', 5, 322),
 ('NEW YORK', 29, 351),
 ('NORTH CAROLINA', 15, 366),
 ('NORTH DAKOTA', 3, 369),
 ('OHIO', 18, 387),
 ('OKLAHOMA', 7, 394),
 ('OREGON', 7, 401),
 ('PENNSYLVANIA', 20, 421),
 ('RHODE ISLAND', 4, 425),
 ('SOUTH CAROLINA', 9, 434),
 ('SOUTH DAKOTA', 3, 437),
 ('TENNESSEE', 11, 448),
 ('TEXAS', 38, 486),
 ('UTAH', 6, 492),
 ('VERMONT', 3, 495),
 ('VIRGINIA', 13, 508),
 ('WASHINGTON', 12, 520),
 ('WEST VIRGINIA', 5, 525),
 ('WISCONSIN', 10, 535),
 ('WYOMING', 3, 538)]

In [ ]:
# Finds the cummulative sum of the grand electors in the sorted list
# performs inner join on the same table GrandElectors
%%sql
SELECT G.State, G.GrandElectors, Sum(E.GrandElectors) AS GrandElectRunTotal 
FROM GrandElectors AS G
INNER JOIN GrandElectors AS  E
ON G.State>=E.State
GROUP BY G.State;

 * sqlite://
Done.

[('ALABAMA', 9, 9),
 ('ALASKA', 3, 12),
 ('ARIZONA', 11, 23),
 ('ARKANSAS', 6, 29),
 ('CALIFORNIA', 55, 84),
 ('COLORADO', 9, 93),
 ('CONNECTICUT', 7, 100),
 ('DC', 3, 103),
 ('DELAWARE', 3, 106),
 ('FLORIDA', 29, 135),
 ('GEORGIA', 16, 151),
 ('HAWAII', 4, 155),
 ('IDAHO', 4, 159),
 ('ILLINOIS', 20, 179),
 ('INDIANA', 11, 190),
 ('IOWA', 6, 196),
 ('KANSAS', 6, 202),
 ('KENTUCKY', 8, 210),
 ('LOUISIANA', 8, 218),
 ('MAINE', 4, 222),
 ('MARYLAND', 10, 232),
 ('MASSACHUSETTS', 11, 243),
 ('MICHIGAN', 16, 259),
 ('MINNESOTA', 10, 269),
 ('MISSISSIPPI', 6, 275),
 ('MISSOURI', 10, 285),
 ('MONTANA', 3, 288),
 ('NEBRASKA', 5, 293),
 ('NEVADA', 6, 299),
 ('NEW HAMPSHIRE', 4, 303),
 ('NEW JERSEY', 14, 317),
 ('NEW MEXICO', 5, 322),
 ('NEW YORK', 29, 351),
 ('NORTH CAROLINA', 15, 366),
 ('NORTH DAKOTA', 3, 369),
 ('OHIO', 18, 387),
 ('OKLAHOMA', 7, 394),
 ('OREGON', 7, 401),
 ('PENNSYLVANIA', 20, 421),
 ('RHODE ISLAND', 4, 425),
 ('SOUTH CAROLINA', 9, 434),
 ('SOUTH DAKOTA', 3, 437),
 ('TENNESSEE', 11, 448),
 ('TEXAS', 38, 486),
 ('UTAH', 6, 492),
 ('VERMONT', 3, 495),
 ('VIRGINIA', 13, 508),
 ('WASHINGTON', 12, 520),
 ('WEST VIRGINIA', 5, 525),
 ('WISCONSIN', 10, 535),
 ('WYOMING', 3, 538)]

# Compute the half of the total of Grand Electors overall (in the whole country)

In [ ]:
# Finds the cummulative sum of the grand electors in the sorted list
# calculates half of the cummulative sum of grand electors and casts value to new column
# performs inner join on the same table GrandElectors
# sorts the list in descending order of the calculated cummulative sum
%%sql
SELECT G.State, G.GrandElectors,SUM(E.GrandElectors)AS GrandElectRunTot, (CAST (SUM(E.GrandElectors)AS FLOAT)/2) AS HalfRunTot  
FROM GrandElectors AS G
INNER JOIN GrandElectors AS  E
ON G.State>=E.State
GROUP BY G.State
ORDER BY SUM(E.GrandElectors) DESC LIMIT 3;

 * sqlite://
Done.

[('WYOMING', 3, 538, 269.0),
 ('WISCONSIN', 10, 535, 267.5),
 ('WEST VIRGINIA', 5, 525, 262.5)]

# Filter our sorted list of states in order to keep only the (top) ones enabling us to reach the computed threshold. (the other states can be ignored). That is our target list.

Select all the states for which the running total is below or equal to the threshold.

In [ ]:
# Finds the cummulative sum of the grand electors in the sorted list
# calculates half of the cummulative sum of grand electors and casts value to new column
# performs inner join on the same table GrandElectors
# Since cummulative sum of the total grand electors is 538, half of this value is 269(threshold value)
# our high-value states are those that have a running total below or equal to the threshold
%%sql
SELECT G.State, G.GrandElectors, SUM(E.GrandElectors) AS GrandElectRunTotal 
FROM GrandElectors AS G
INNER JOIN GrandElectors AS  E
ON G.State>=E.State
GROUP BY G.State
HAVING GrandElectRunTotal <= 269

 * sqlite://
Done.

[('ALABAMA', 9, 9),
 ('ALASKA', 3, 12),
 ('ARIZONA', 11, 23),
 ('ARKANSAS', 6, 29),
 ('CALIFORNIA', 55, 84),
 ('COLORADO', 9, 93),
 ('CONNECTICUT', 7, 100),
 ('DC', 3, 103),
 ('DELAWARE', 3, 106),
 ('FLORIDA', 29, 135),
 ('GEORGIA', 16, 151),
 ('HAWAII', 4, 155),
 ('IDAHO', 4, 159),
 ('ILLINOIS', 20, 179),
 ('INDIANA', 11, 190),
 ('IOWA', 6, 196),
 ('KANSAS', 6, 202),
 ('KENTUCKY', 8, 210),
 ('LOUISIANA', 8, 218),
 ('MAINE', 4, 222),
 ('MARYLAND', 10, 232),
 ('MASSACHUSETTS', 11, 243),
 ('MICHIGAN', 16, 259),
 ('MINNESOTA', 10, 269)]

In [ ]:
%%sql
SELECT G.State, G.GrandElectors, SUM(E.GrandElectors) AS GrandElectRunTotal 
FROM GrandElectors AS G
INNER JOIN GrandElectors AS  E
ON G.State>=E.State
GROUP BY G.State
HAVING GrandElectRunTotal <= 275;

 * sqlite://
Done.

[('ALABAMA', 9, 9),
 ('ALASKA', 3, 12),
 ('ARIZONA', 11, 23),
 ('ARKANSAS', 6, 29),
 ('CALIFORNIA', 55, 84),
 ('COLORADO', 9, 93),
 ('CONNECTICUT', 7, 100),
 ('DC', 3, 103),
 ('DELAWARE', 3, 106),
 ('FLORIDA', 29, 135),
 ('GEORGIA', 16, 151),
 ('HAWAII', 4, 155),
 ('IDAHO', 4, 159),
 ('ILLINOIS', 20, 179),
 ('INDIANA', 11, 190),
 ('IOWA', 6, 196),
 ('KANSAS', 6, 202),
 ('KENTUCKY', 8, 210),
 ('LOUISIANA', 8, 218),
 ('MAINE', 4, 222),
 ('MARYLAND', 10, 232),
 ('MASSACHUSETTS', 11, 243),
 ('MICHIGAN', 16, 259),
 ('MINNESOTA', 10, 269),
 ('MISSISSIPPI', 6, 275)]